@font-face{
    font-family:'ZQP';
    src:url('../fonts/zhangqingping.ttf');
}
html {
    background: url(../bgd_body1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-family:'ZQP';
    text-align: center;
    font-size: 10px;
}
body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    align-items: flex-start;
    margin: 0rem;
}
.poem {
    width: 10rem;
    writing-mode:tb-rl;
    font-family: 'ZQP';
    font-size: 5rem;
    color: rgb(73, 72, 72);
    /* margin-top: -20%; */
    margin: 4rem 4rem;
}
.clock {
    width: 30rem;
    height: 30rem;
    border:20px solid rgba(122, 124, 120, 0.863);
    /* 画一个圆 */
    border-radius:50%;
    margin:100px 40px;
    padding:2rem;
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0 0 3px #EFEFEF,
      inset 0 0 10px black,
      0 0 10px rgba(0,0,0,0.2);
}
.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    /* 这里把表盘旋转90° */
    transform: rotate(90deg);
}
.hand {
    width:50%;
    background:black;
    position: absolute;
    top:50%;
    /* add */
    transform-origin: 100%;
    transform: rotate(0deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.35, 2.65, 1, 1);
    border-radius: 50%;
}
.second-hand {
    height: 2px;
    background-color: red;
}
.min-hand{
    height: 4px;
    width: 45%;
    margin-left: 5%;
    background: black;
}
.hour-hand{
    height: 6px;
    width: 35%;
    margin-left: 15%;
    background: black;
}